  <div class="mid">
    <h1>FORM</h1>

    <div *ngFor="item of formArray, let i = index" class="questionBox">
      <p>{{questionType[i]}} Question</p>
      <label for="shortAnswers">Question {{i + 1}}: </label>

      <ng-container *ngIf="questionType[i] === 'Short'">
        <p>{{inputString[i]}}</p>
        <input type="text" [(ngModel)]="answerString[i]">
      </ng-container>
      <ng-container *ngIf="questionType[i] === 'Long'">
        <p>{{inputString[i]}}</p>
        <textarea type="text" [(ngModel)]="answerString[i]"></textarea>
      </ng-container>
      <ng-container *ngIf="questionType[i] === 'Radio'">
        <p>{{inputString[i]}}</p>
        <br>
        <br>
        <div *ngIf="radioOption1[i] != null">
          <input type="radio" name="radioForm{{i}}" value="option1" [(ngModel)]="answerString[i]"><label for="option1">{{radioOption1[i]}} </label>
        </div>
        <br>
        <div *ngIf="radioOption2[i] != null">
          <input type="radio" name="radioForm{{i}}" value="option2" [(ngModel)]="answerString[i]"><label for="option1">{{radioOption2[i]}} </label>
        </div>
        <br>
        <div *ngIf="radioOption3[i] != null">
          <input type="radio" name="radioForm{{i}}" value="option3" [(ngModel)]="answerString[i]"><label for="option1">{{radioOption3[i]}} </label>
        </div>
        <br>
        <div *ngIf="radioOption4[i] != null">
          <input type="radio" name="radioForm{{i}}" value="option4" [(ngModel)]="answerString[i]"><label for="option1">{{radioOption4[i]}} </label>
        </div>
      </ng-container>
      <ng-container *ngIf="questionType[i] === 'Multi'">
        <p>{{inputString[i]}}</p>
        <br>
        <br>
        <select [(ngModel)]="answerString[i]" multiple>
          <option value="{{multiOption1[i]}}">{{multiOption1[i]}}</option>
          <option value="{{multiOption2[i]}}">{{multiOption2[i]}}</option>
          <option value="{{multiOption3[i]}}">{{multiOption3[i]}}</option>
          <option value="{{multiOption4[i]}}">{{multiOption4[i]}}</option>
        </select>
      </ng-container>


    </div>
  </div>
