.mid
{
  text-align: center;
}
.form-builder
{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-table table
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
}
.center
{
  margin-left: auto;
  margin-right: auto;
}
.main-table td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

.main-table tr:nth-child(even) {
  background-color: #ffffff4d;
}
