<div class="bg">
  <div class="mid form-builder">
    <p>FORM BUILDER</p>
  </div>
  <div class="mid">
    <button (click)="addShort()" class="button">Short Answer</button>
    <button (click)="addLong()" class="button">Long Answer</button>
    <button (click)="addRadio()" class="button">Radio</button>
    <button (click)="addMulti()" class="button">Multi-Select</button>
  </div>

  <div *ngFor="item of formArray, let i = index" class="questionBox">
    <p>{{questionType[i]}} Question</p>
    <label for="shortAnswers">Question {{i + 1}}: </label>

    <ng-container *ngIf="questionType[i] === 'Short'">
      <input type="text" [(ngModel)]="inputString[i]">
    </ng-container>
    <ng-container *ngIf="questionType[i] === 'Long'">
      <textarea type="text" [(ngModel)]="inputString[i]"></textarea>
    </ng-container>
    <ng-container *ngIf="questionType[i] === 'Radio'">
      <input type="text" [(ngModel)]="inputString[i]">
      <br>
      <br>
      <label for="option1">Option 1: </label><input type="text" [(ngModel)]="radioOption1[i]">
      <br>
      <label for="option1">Option 2: </label><input type="text" [(ngModel)]="radioOption2[i]">
      <br>
      <label for="option1">Option 3: </label><input type="text" [(ngModel)]="radioOption3[i]">
      <br>
      <label for="option1">Option 4: </label><input type="text" [(ngModel)]="radioOption4[i]">
    </ng-container>
    <ng-container *ngIf="questionType[i] === 'Multi'">
      <input type="text" [(ngModel)]="inputString[i]">
      <br>
      <br>
      <label for="option1">Option 1: </label><input type="text" [(ngModel)]="multiOption1[i]">
      <br>
      <label for="option1">Option 2: </label><input type="text" [(ngModel)]="multiOption2[i]">
      <br>
      <label for="option1">Option 3: </label><input type="text" [(ngModel)]="multiOption3[i]">
      <br>
      <label for="option1">Option 4: </label><input type="text" [(ngModel)]="multiOption4[i]">
    </ng-container>


  </div>

  <h1>{{formArray | json}}</h1>

  <h1>{{optionsArray | json}}</h1>

  <button (click)="onSubmit()">Submit</button>

</div>
