.mid
{
  text-align: center;
}
.welcome-text
{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.big-btn
{
  background-color: #2fb10e;
  color: rgb(12, 71, 1);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  padding: 10px 25px;
  min-width: 60%;
  min-height: 150px;
  max-width: 60%;
  max-height: 150px;
  text-align: center;
  font-size: 3vw;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
