<div class="mid">
  <h1>GUEST ANSWER</h1>

  <div *ngFor="let item of formArray, let i = index" class="questionBox">
    <p>{{questionType[i]}} Question</p>
    <label for="shortAnswers">Question {{i + 1}}: </label>

    <ng-container *ngIf="questionType[i] === 'Short'">
      <p>{{inputString[i]}}</p>
      <input class="mid-answer" type="text" [(ngModel)]="answerString[i]" readonly>
    </ng-container>
    <ng-container *ngIf="questionType[i] === 'Long'">
      <p>{{inputString[i]}}</p>
      <textarea class="mid-answer" type="text" [(ngModel)]="answerString[i]" readonly></textarea>
    </ng-container>
    <ng-container *ngIf="questionType[i] === 'Radio'">
      <p>{{inputString[i]}}</p>
      <br>
      <br>
      <input class="mid-answer" type="text" [(ngModel)]="answerString[i]" readonly>
    </ng-container>
    <ng-container *ngIf="questionType[i] === 'Multi'">
      <p>{{inputString[i]}}</p>
      <br>
      <br>
      <input class="mid-answer" type="text" [(ngModel)]="answerString[i]" readonly>
    </ng-container>


  </div>
</div>
